:root {
    --IRIS: #4D5AE5;
    --OCEAN: #404BBF;
    --NAVY-BLUE: #2E2F42;
    --SLATE: #434455;
    --LIGHT-SLATE: #8E8F99;
    --CORNFLOWER: #E7E9FC;
    --CLOUD: #F4F4FD;
    --NAVY-BLUE-modal: rgba(46, 47, 66, 0.40);
    --GREY: rgba(46, 47, 66, 0.70);
    --WHITE: #fff;
    --DAIRY: #FCFCFC;
    --GREEN: #31D0AA;
    --TRANSITION-DURATION: 250ms;
}

body {
    font-family: "Roboto", sans-serif;
}

/* HEADER */
.header {
    padding: 24px 0;
    /*border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);*/
    /*background: var(--WHITE, #FFF);*/
    /*box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);*/
}

.container {
    width: 1440px;
    margin: auto;
}

/*div*/
.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    text-decoration: none;
}
/*WEBSTUDIO for Header and Footer*/
.logo {
    color: var(--IRIS);
    font-family: Raleway;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
    text-decoration: none;
}

/*a tag*/
.nav-link {
    color: var(--NAVY-BLUE);
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.32px;
    position: relative;
    text-decoration: none;
}

.weblink {
    text-decoration: none;
}

.contacts {
    color: var(--SLATE, #434455);
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
}

/*UL*/
.header-menu {
    list-style: none;
    padding-left: 156;
    display: flex;
    justify-content: center;
    gap: 30px;
    text-decoration: none;
}

/*li*/
.header-menu-list {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    position: relative;
    text-decoration: none;
}

/*SPAN*/
.logo-studio-nav {
    color: var(--NAVY-BLUE);
}

/*HOVER EFFECT*/
.logo:hover .logo-web {
    color: green;
}

.active {
        color: var(--OCEAN)
}

.active::after {
    content: " ";
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--IRIS);
    position: relative;
    top: 15px;
} /* END OF HEADER */


/*hero section*/
.hero {
    padding: 188px 0;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(..//images/office.jpg);
    background-size: cover;
    position: relative;
}

/*h1*/
.hero-text {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    margin-bottom: 48px;
    color: var(--WHITE);
    text-align: center;
    text-transform: uppercase;
}

/*button*/
.hero-btn {
    color: var(--WHITE);
    background-color: var(--IRIS);
    border-radius: 4px;
    border: unset;
    font-family: "Roboto";
    font-weight: 500;
    line-height: 1.5;
    padding: 16px 32px;
    cursor: pointer;
    
}
.hero-btn:hover {
    background-color: var(--OCEAN);
}
/*END OF hero section*/

/*ABOUT SECTION*/
.about {
    padding-top: 120px;   
}

/*UL*/
.about-menu {
    list-style: none;
    padding-left: 156;
    display: flex;
    justify-content: center;
    gap: 30px;
}

/*DIV UNDER UL*/
.menu-icons {
    /*background-color: var(--CLOUD);
    text-align: center;
    padding: 24px 0;*/
    width: 264px;
    height: 112px;
    padding: 24px 100px;
    margin-bottom: 8px;
    background-color: var(--CLOUD);
    border-radius: 4px;
}

/*H3*/
.about-team {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.4px;
    margin-top: 0;
    margin-bottom: 8px;
}

/*P TAG*/
.p-dark {
    color: var(--SLATE);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
/* END OF ABOUT SECTION*/

/*WHAT WE DO SECTION*/
.section {
    padding: 120px 0;
}

.what-we-do {
    justify-content: center;
}

/*h2*/
.section-title {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 2.5;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

/*UL*/
.what-menu {
    list-style: none;
    padding-left: 156;
    display: flex;
    justify-content: center;
    gap: 30px;
}
/*END OF WHAT WE DO SECTION*/

/*TEAM SECTION*/
.team {
    background-color: var(--CLOUD);
}

/*h2*/
.section-title {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 2.5;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}
          
/*UL*/
.team-menu {
    list-style: none;
    padding-left: 156;
    display: flex;
    justify-content: center;
    gap: 30px;
}

/*li*/
.team-menu-items {
    display: inline-block;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--WHITE);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    height: 428px;
}

/*div*/
.menu-team {
    background-color: var(--WHITE);
    padding: 32px 0ox;
}

.menu-team-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 8px 0px 32px 0px;
}

/*h3*/
.about-team {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--NAVY-BLUE);
    text-align: center;
    margin-bottom: 8px;
}

/*p tag*/
.team-p-dark {
    color: var(--SLATE);
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/*a tag*/
.socials-items-links {
    background-color: var(--IRIS);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 50%;
    fill: var(--WHITE);
}
/*END OF TEAM SECTION*/

/*CUSTOMERS SECTION*/
.customers {
    padding: 120px 0px;
}

/*ul*/
.customer-menu {
    list-style: none;
    padding-left: 156;
    display: flex;
    justify-content: center;
    gap: 30px;
}

/*li*/
.customer-icon {
    /*border: 1px solid #8e8f99;
    padding: 16px 32px;*/
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*a tag*/
.customer-icon-a {
    display: flex;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE);
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    color: var(--LIGHT-SLATE);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon-svg {
    width: 104px;
    height: 56px;
    display: flex;
}

.customer-icon-a:hover,
.customer-icon-a:focus {
    border-color: var(--OCEAN); 
    fill: var(--iris);
    color: var(--GREEN)
}
/*END OF CUSTOMERS SECTION*/

/*FOOTER*/
.bg-dark {
    background-color: var(--NAVY-BLUE);
    padding: 120px;
}

.footer-main {
    display: flex;
    column-gap: 120px;
    align-items: center;
    padding-left: 156;
}

/*FOOTER-WEB SECTION*/
.logo-studio-footer {
    color: var(--CLOUD)
}

/*p tag*/
.footer-text {
    color: var(--CLOUD);
    line-height: 1.5;
    letter-spacing: 0.32px;
}
/*END OF FOOTER-WEB SECTION*/

/*FOOTER-SOCIAL SECTION*/
.menu-team-socials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 16px;
}

/*a tag*/
.socials-items-links {
    background-color: var(--IRIS);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 50%;
    fill: var(--WHITE);
}

.socials-items-links:hover,
.socials-items-links:focus {
    background-color: var(--GREEN);
}
/*END OF FOOTER-SOCIAL SECTION*/

/*FOOTER-SUBSCRIBE SECTION*/
.footer-email-form {
    display: flex;
    gap: 24px;
    flex-shrink: 0;
    width: 165px;
    height: 40px;
}

.email-box {
    display: flex;
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--NAVY-BLUE);
    padding: 8px 16px;
    border: 1px solid #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
}

.email-box::placeholder {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.48px;
}

.subs-btn {
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-align: center;
    width: 165px;
    height: 40px;
    border-radius: 4px;
    background:var(--IRIS);
    color: #fff;
    fill: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    margin-top: 39px;
    transition: var(--TRANSITION-DURATION);
}

.subs-btn-icon {
    width: 24px;
    height: 24px;
}

.subs-btn:hover {
    background-color: var(--OCEAN);
}

.email-box:focus {
    border-color: var(--IRIS);
    outline: 0;
    color: #fff;
}
/*END OF FOOTER-SUBSCRIBE SECTION*/
/*END OF FOOTER SECTION*/


