
.section {
    padding: 0;
}

.subscribe {
    background-image: url('../images/Subcribe.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*text-align: center;*/
    /width: 1200px;
    height: 370px;
    top: 4414px;
}

.blocks {
    /*background-color: violet;*/
    color: #FFFFFF;
    /*width: Hug (467px);
    height: Hug (226px);
    top: 72px;
    left: 366px;
    gap: 24px;
    padding: 72px, 367px, 72px, 366px;*/
    width: Hug (467px);
    height: Hug (226px);
    padding-top: 50px;
    padding-bottom: 72px;
    gap: 24px;
}

.text1 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.03em;
    gap: 28px;
    text-align: center;
}

.text2 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    height: 72px;
    padding-bottom: 5px;
    text-align: center;
}

.blocks-button {
    width: Hug (172px);
    height: Hug (50px);
    padding: 14px 40px 14px 40px;
    border-radius: 100px;
    gap: 14px;
    background-color: #FD9222;
    margin-left: 680px;
}

.text {
    /*width: 120px;
    height: 30px;*/
    font-family: Montserrat;
    font-weight: 600;
    line-height: 22px;
    font-size: 15px;
    color: white; 
}

/*modal*/


/*.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 50%;
}

.close-button:hover {
    background-color: #aaa;
}*/

/*done*/
.blocks-modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*done*/
.modal {
    /*background-color: white;*/
    width: 538px;
    height: 196px;
    border-radius: 15px;
}

/*done*/
.is-hidden {
    pointer-events: none;
    opacity: 0;
}

/*done*/
.modal-close-button {
    display: block;
    border-radius: 2px;
    /*Width: 14px;
    Height: 14px;
    padding-top: 10px;
    Left: 24px;
    /*color: white;*/
    margin-left: auto;*/
}

/*done*/
.blocks-subscribe {
    width: Hug (458px);
    height: Hug (136px);
    top: 236px;
    left: 40px;
    gap: 28px;
    background-color: white;
    /*position: relative;*/
}

/*done*/
.blocks-input {
    border: 2px solid white;
    background: none;
    border-radius: 30px;
    padding: 14px;
    gap: 40px;
    Width: 200px;
    height: Hug (50px);
}

/*done*/
.blocks-input:placeholder-shown {
    color: white;
}

/*done*/
.placeholder {
    color: white;
}

/*done*/
.blocks-subscribe2 {
    display: flex;
    padding-bottom: 25px;
}

/*done*/
.blocks-subscribe3 {
    display: block;
    margin-left: 40px;
    margin-right: 40px;
}

/*done*/
.blocks-subscribe4 > .modal-close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 8px 16px;
    border-bottom-left-radius: 4px;
}

/*done*/
.blocks-input-button {
    width: Hug (172px);
    height: Hug (50px);
    padding: 14px 40px 14px 40px;
    border-radius: 100px;
    gap: 14px;
    background-color: #FD9222; 
    color: #FFFFFF;
    margin-left: 80px;
}

/*done*/
.blocks-text span {
    color: #FD9222;
}

/*done*/
.blocks-text {
    color: black;
}